.wrapperAdd{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrapperForm{
    display: flex;
    width: 100%;
    justify-content: center;
}
.wrapperForm label{
    max-width: 400px;
    width: 100%;
}
.inputAdd{
    font-size: 16px;
    width: 100%;
    padding: 8px 0px;
    outline: none;
    border-radius: 8px;
    padding-left: 8px;
    border: 0;
}
.wrapperForm button{
    margin-left: 16px;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #f69e7b;
    border-radius: 8px;
    max-width: 120px;
    width: 100%;
    background-color: #383e56;
}
.wrapperForm button:hover{
    background-color: #2d3246;
}